@font-face {
	font-family: 'Changa';
	src: url('../fonts/Changa/Changa-Regular.ttf'); /* IE9 Compat Modes */
	src: url('../fonts/Changa/Changa-SemiBold.ttf') format('embedded-opentype'), /* IE6-IE8 */
	url('../fonts/Changa/Changa-Medium.ttf') format('truetype'), /* Super Modern Browsers */
	url('../fonts/Changa/Changa-Regular.ttf') format('truetype'), /* Pretty Modern Browsers */
		 
  }

*{
    margin: 0;
	padding: 0;
	font-family: Changa;
}
body{
	background-color: #006f5f;
}
#body-section{
	background-color: #fdfdfd;
    border-radius: 10px;
    padding-bottom: 1.5rem;
}
.logo-spec {
    margin-top: 15px;
    margin-left: 45px;
}

.my-row{
 display: flex;
 justify-content: space-between;
 box-sizing: border-box;
}

.card-header{
    font-weight: 500;
    font-size: 1rem;
	text-transform: uppercase;
	color: #fff;
	background-image: linear-gradient(to bottom, #3fcc22, #008b00);
}

.drop-down-btn{
	float: right;

}
/* Header sections */

.header-section {
	position: relative;
	width: 100%;
	left: 0;
	top: 0;
	padding-left: 53px;
	background: rgba(0, 0, 0, 0.7);
	z-index: 999;
}

.header-nav {
	text-align: center;
}

.site-logo {
	float: left;
	display: inline-block;
	padding: 33px 0;
}

.main-menu {
	width: 100%;
	display: inline-block;
	padding-right: 50px;
	margin: 0 auto !important;
	/* float: left !important */
}

.main-menu li {
	display: inline-block;
	position: relative;
}

.main-menu li a {
    display: block;
    font-size: 16px;
    color: #333;
    font-weight: 600;
    padding: 14px 8px;
    margin-right: 30px;
}

.main-menu li a:hover,
.main-menu li a.active {
	color: #f43f00;
}

.main-menu li:hover>.sub-menu {
	visibility: visible;
	opacity: 1;
	margin-top: 0;
}

.main-menu .sub-menu {
	position: absolute;
	list-style: none;
	width: 250px;
	left: 0;
	top: 100%;
	text-align: left;
	padding: 20px 0;
	visibility: hidden;
	opacity: 0;
	margin-top: 50px;
	background: #fff;
	z-index: 99;
	-webkit-transition: all 0.4s;
	transition: all 0.4s;
	-webkit-box-shadow: 2px 7px 20px rgba(0, 0, 0, 0.15);
	box-shadow: 2px 7px 20px rgba(0, 0, 0, 0.15);
}

.main-menu .sub-menu li {
	display: block;
}

.main-menu .sub-menu li a {
	display: block;
	color: #000;
	margin-left: 0;
	padding: 5px 20px;
}

.main-menu .sub-menu li a:hover {
	color: #f43f00;
}






.slicknav_menu {
	display: none;
}

/* ----------------
Hero section
 ---------------------*/

.hero-section {
	padding-top: 191px;
	padding-bottom: 108px;
	position: relative;
	height: 100vh;
}

.hero-section .container {
	position: relative;
	z-index: 99;
}

.hero-slider {
	position: absolute;
	width: 100%;
	height: 100%;
	left: 0;
	top: 0;
}

.hero-slider .owl-stage-outer,
.hero-slider .owl-stage,
.hero-slider .owl-item,
.hero-slider .hs-item {
	height: 100%;
}

.hero-slider .owl-dots {
	position: absolute;
	max-width: 1146px;
	width: 100%;
	bottom: 34px;
	left: calc(50% - 573px);
}

.hero-slider .owl-dots .owl-dot {
	display: inline-block;
	width: 8px;
	height: 8px;
	border-radius: 10px;
	margin-right: 7px;
	background: #fff;
}

.hero-slider .owl-dots .owl-dot:last-child {
	margin-right: 0;
}

.hero-slider .owl-dots .owl-dot.active {
	background: #f43f00;
}

.hs-text {
	padding-top: 195px;
	padding-right: 10px;
}

.hs-text h2 {
	font-size: 60px;
	color: #fff;
	margin-bottom: 30px;
	line-height: 1.1;
}

.hs-text p {
	color: #fff;
	margin-bottom: 30px;
}

.hero-form {
	background: #22242b;
	padding: 63px 42px 73px;
}

.hero-form input {
	width: 100%;
	height: 49px;
	padding: 5px 26px;
	margin-bottom: 30px;
	border: none;
	font-size: 14px;
	color: #838383;
	font-style: italic;
}

.hero-form p {
	font-size: 11px;
	font-style: italic;
	margin-bottom: 25px;
}



.user_info ul{
	display: flex;
	justify-content: space-around;
	align-items: center;
}

.user_info ul li {
	flex: 1;
	list-style-type: none;
	margin-left: 6px;
	margin-right: 6px;
}
/* end of header */
.row.equal-cols {
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-flex-wrap: wrap;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
  }
  
  .row.equal-cols:before,
  .row.equal-cols:after {
    display: block;
  }
  
  .row.equal-cols > [class*='col-'] {
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
  }
  
  .row.equal-cols > [class*='col-'] > * {
    -webkit-flex: 1 1 auto;
    -ms-flex: 1 1 auto;
    flex: 1 1 auto; 
  }
.mycard-body{
	display: flex;
}

.img-icon {
    max-width: 20%;
    height: auto;
    border: 1px solid rgba(128, 128, 128, 0.2);
    padding: 5px;
}
.card {
	margin-bottom: 1rem;
}
.tex-blk {
    flex-grow: 1;
    padding: 5px;
}

.tex-blk p {
    text-transform: uppercase;
    font-weight: 500;
    color: gray;
    font-size: 0.8rem;
}
.navbar-nav {
    display: flex;
    box-sizing: border-box;
}

.navbar-nav li{
    justify-content: space-evenly;
}
.img-box{
	height: auto;
    max-width: 5%;
    display: inline-block;
    float: left;
    vertical-align: middle;
    margin-right: 1rem;
}

.preheader-section{
	background-color: #4c4c4c;
}
.top-header {
    display: flex;
    justify-content: space-between;
}
.side-right{
	padding-right: 0;
}
.user-box {
    display: flex;
	justify-content: flex-end;
	align-items: center;
	color: #fff;
}
.username-blk {
    background: #000;
    padding: 2.5rem;
    /* color: white; */
}
.username-blk a {
	color: #fff;
}
.user-box div:nth-last-child(1) {
	flex-grow: 1;
	background-color:red;
	padding-left: 1rem;
  }

  /* Stats page specific css */
  .last-column{
	  border-left: 1px solid gray;
  }

  .date-row {
	background: #e0e0e0;
    border-radius: 10px;
    /* padding-top: 1rem; */
    justify-content: center;
    align-items: center;
  }
  .stats-table {
	border: 1px solid #dee2e6;
  }

  /* profile  campaing pages css */
  .container_card {
    background-color: #f1f1f1;
    padding: 2em;
    border-radius: 6px;
}

.card {
    border-radius: 0;
}

.card-img {
    display: flex;
    height: 100px;
    padding: 10px
}

.card-img img {
    margin: auto;
}

.switch {
	/* margin-left: 1em; */
	margin-top: 0.5em;
	position: relative;
	display: inline-block;
	width: 50px;
	height: 24px;
  }
  
  .switch input {
	opacity: 0;
	width: 0;
	height: 0;
  }
  
  .slider {
	position: absolute;
	cursor: pointer;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	background-color: #ccc;
	-webkit-transition: 0.4s;
	transition: 0.4s;
  }
  
  .slider:before {
	position: absolute;
	content: "";
	height: 20px;
	width: 22px;
	left: 1px;
	bottom: 2px;
	background-color: white;
	-webkit-transition: 0.4s;
	transition: 0.4s;
  }
  
  input:checked + .slider {
	background-color: #08b16a;
  }
  
  input:focus + .slider {
	box-shadow: 0 0 1px #2196f3;
  }
  
  input:checked + .slider:before {
	-webkit-transform: translateX(26px);
	-ms-transform: translateX(26px);
	transform: translateX(26px);
  }
  
  /* Rounded sliders */
  .slider.round {
	border-radius: 34px;
  }
  
  .slider.round:before {
	border-radius: 50%;
  }

  input[type=number]::-webkit-inner-spin-button, 
input[type=number]::-webkit-outer-spin-button,
input[type=date]::-webkit-inner-spin-button, 
input[type=date]::-webkit-outer-spin-button { 
  -webkit-appearance: none; 
  margin: 0; 
}