<!doctype html>
<html lang="en">

<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
        integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link rel="stylesheet" href="css/style.css">
    <title>Affiliate | Promotions</title>
</head>

<body>
    <!-- Header Section -->
    <div class="preheader-section">
        <div class="top-header">
            <div class="col side-left">
                <h2 class="display-4 logo-spec">LOGO</h2>
            </div>
            <div class="col side-right">
                <div class="user-box">
                    <div class="username-blk"><a href="#"></i>Hi, User Name</a></div>
                    <div class="hr-btn hr-btn-2">
                        <p class="mx-2"> December</p>
                        <div class="user_info">
                            <ul>
                                <li>Clicks <br> 10</li>
                                <li>SignUps <br> 5</li>
                                <li>FTD <br> 7</li>
                                <li>Profit <br> 15</li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="nav-section navbar-nav bg-light">
        <div class="container">
            <ul class="main-menu text-center">
                <li><a href="index.html" class="active">Home</a></li>
                <!-- <li><a href="about-us.html">About Us</a></li> -->

                <li><a href="stats.html">Stats</a></li>
                <li><a href="campaigns.html">Campaigns</a></li>
                <li><a href="promotions.html">Promotions</a></li>
                <li><a href="deals.html">Deals</a>
                    <!-- <ul class="sub-menu">
                        <li><a href="#">My Deals</a></li>
                        <li><a href="upload_deal.html">Upload Deals</a></li>
                    </ul> -->
                </li>
                <!-- <li><a href="news.html">Deals</a></li> -->
                <!-- <li><a href="#">Affiliates</a>
                    <ul class="sub-menu">
                        <li><a href="deal-request.html">Deal Requests</a></li>
                        <li><a href="adviser-request.html">Advertiser Requests</a></li>
                    </ul>
                </li> -->
                <li><a href="#">Requests</a>
                    <ul class="sub-menu">
                        <li><a href="adviser-request.html">Advertiser Requests</a></li>
                        <li><a href="deal-request.html">Deal Requests</a></li>
                    </ul>
                </li>
                <li><a href="#">My Account</a>
                    <ul class="sub-menu">
                        <li><a href="profile.html">Profile</a></li>
                        <li><a href="payment.html">Payments</a></li>
                    </ul>
                </li>
                <li><a href="#">Logout</a></li>
            </ul>
        </div>
    </div>

    <div class="container container_card mt-4">
        <h3>Payments</h3>
        <div class="card">
               
            <table class="table-bordered text-center">
                <thead>
                    <th aria-sort="ascending">Period</th>
                    <th>Created</th>
                    <th>Amount</th>
                    <th>Status</th>
                </thead>
                <tr>
                    <td>{{Message}}</td>
                    <td></td>
                    <td></td>
                    <td></td>
                </tr>
            </table>
        </div>
        <div class="empty-bin"></div>
    </div>

    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
        integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
        crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
        integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
        crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
        integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
        crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/chart.js@2.9.3/dist/Chart.min.js"></script>
    <script src="./charts.js"></script>
</body>
</html>